<h1>{{article.caption}}</h1>
<p>{{article.teaser}}</p>
<p>{{article.description}}</p>
<p>
    {{article.price}} EUR
</p>

<h2>Bewertungen</h2>

<ul class="rating-list">
    {{#each ratings}}
        <li class="rating">
            <em>Stars: {{rate}}</em>
            <h3>{{author}} ({{date_rated}})</h3>
            <p>{{message}}</p>
        </li>
    {{/each}}
</ul>

<h2>Neue Bewertung</h2>
<form method="post" action="/article/{{article.article_pk}}/ratings" class="rating-new">
    <div class="form-row">
        <label for="author">Name</label>
        <input type="text" name="author">
    </div>
    <div class="form-row">
        <label for="rate">Bewertung</label>
        <input type="range" min="0" max="5" value="5" name="rate">
    </div>
    <div class="form-row">
        <label for="message">Beschreibung</label>
        <textarea name="message" placeholder="Begründen Sie ihre Bewertung ..."></textarea>
    </div>
    <div class="form-row">
        <input type="submit" value="Absenden">
    </div>
</form>


